<div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
    <h3 class="multisteps-form__title">Auto Details</h3>
    <div class="multisteps-form__content">
      <div class="form-row mt-4">
        <div class="col-12 col-md-6 mt-2 input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Auto Company</label>
          </div>
          <select class="custom-select" name="auto_company" aria-label="Default select example">
            <option value=Saab>Saab</option>
            <option value=Mercedes>Mercedes</option>
            <option value=Dodge>Dodge</option>
            <option value=Chevrolet>Chevrolet</option>
            <option value=Accura>Accura</option>
            <option value=Nissan>Nissan</option>
            <option value=Audi>Audi</option>
            <option value=Toyota>Toyota</option>
            <option value=Ford>Ford</option>
            <option value=Suburu>Suburu</option>
            <option value=BMW>BMW</option>
            <option value=Jeep>Jeep</option>
            <option value=Honda>Honda</option>
            <option value=Volkswagen>Volkswagen</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mt-2 input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Auto Model</label>
          </div>
          <select class="custom-select" name="auto_model" aria-label="Default select example">
            <option value=92x>92x</option>
            <option value=E400>E400</option>
            <option value=RAM>RAM</option>
            <option value=Tahoe>Tahoe</option>
            <option value=RSX>RSX</option>
            <option value=95>95</option>
            <option value=Pathfinder>Pathfinder</option>
            <option value=A5>A5</option>
            <option value=Camry>Camry</option>
            <option value=F150>F150</option>
            <option value=A3>A3</option>
            <option value=Highlander>Highlander</option>
            <option value=Neon>Neon</option>
            <option value=MDX>MDX</option>
            <option value=Maxima>Maxima</option>
            <option value=Legacy>Legacy</option>
            <option value=TL>TL</option>
            <option value=Impreza>Impreza</option>
            <option value=Forrestor>Forrestor</option>
            <option value=Escape>Escape</option>
            <option value=Corolla>Corolla</option>
            <option value=3 Series>3 Series</option>
            <option value=C300>C300</option>
            <option value=Wrangler>Wrangler</option>
            <option value=M5>M5</option>
            <option value=X5>X5</option>
            <option value=Civic>Civic</option>
            <option value=Passat>Passat</option>
            <option value=Silverado>Silverado</option>
            <option value=CRV>CRV</option>
            <option value=93>93</option>
            <option value=Accord>Accord</option>
            <option value=X6>X6</option>
            <option value=Malibu>Malibu</option>
            <option value=Fusion>Fusion</option>
            <option value=Jetta>Jetta</option>
            <option value=ML350>ML350</option>
            <option value=Ultima>Ultima</option>
            <option value=Grand Cherokee>Grand Cherokee</option>
          </select>
        </div>
      </div>
      <div class="form-row mt-4">
        <div class="col-12 col-md-6 mt-2">
            <input type="text" class="form-control" name="auto_year" aria-describedby="ageHelp" placeholder="Enter Auto Year">
        </div>
      </div>
      <div class="button-row d-flex mt-4">
        <button class="btn btn-danger js-btn-prev" type="button" title="Prev">Prev</button>
        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
      </div>
    </div>
  </div>