<div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
    <h3 class="multisteps-form__title">Incident Details</h3>
    <div class="multisteps-form__content">
      <div class="form-row mt-4">
        <div class="col-12 col-md-6 mt-2 input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Incident Severity</label>
            </div>
            <select class="custom-select" name="incident_severity" aria-label="Default select example">
              <option value=Major Damage>Major Damage</option>
              <option value=Minor Damage>Minor Damage</option>
              <option value=Total Loss>Total Loss</option>
              <option value=Trivial Damage>Trivial Damage</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mt-2 input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Incident State</label>
            </div>
            <select class="custom-select" name="incident_state" aria-label="Default select example">
              <option value=SC>SC</option>
              <option value=VA>VA</option>
              <option value=NY>NY</option>
              <option value=OH>OH</option>
              <option value=WV>WV</option>
              <option value=NC>NC</option>
              <option value=PA>PA</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 mt-2 border rounded">
            Incident Hour
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=0 id="option1" autocomplete="off" checked> 0
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=1 id="option2" autocomplete="off"> 1
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=2 id="option3" autocomplete="off"> 2
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=3 id="option3" autocomplete="off"> 3
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=4 id="option3" autocomplete="off"> 4
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=5 id="option3" autocomplete="off"> 5
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=6 id="option3" autocomplete="off"> 6
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=7 id="option3" autocomplete="off"> 7
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=8 id="option3" autocomplete="off"> 8
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=9 id="option3" autocomplete="off"> 9
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=10 id="option3" autocomplete="off"> 10
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=11 id="option3" autocomplete="off"> 11
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=12 id="option3" autocomplete="off"> 12
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=13 id="option3" autocomplete="off"> 13
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=14 id="option3" autocomplete="off"> 14
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=15 id="option3" autocomplete="off"> 15
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=16 id="option3" autocomplete="off"> 16
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=17 id="option3" autocomplete="off"> 17
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=18 id="option3" autocomplete="off"> 18
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=19 id="option3" autocomplete="off"> 19
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=20 id="option3" autocomplete="off"> 20
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=21 id="option3" autocomplete="off"> 21
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=22 id="option3" autocomplete="off"> 22
              </label>
              <label class="btn btn-secondary active btn-sm rounded p-1 mb-2">
                <input type="radio" name="incident_hour" value=23 id="option3" autocomplete="off"> 23
              </label>
            </div>
        </div>
    </div>
      <div class="row">
        <div class="button-row d-flex mt-4 col-12">
          <button class="btn btn-danger js-btn-prev" type="button" title="Prev">Prev</button>
          <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
        </div>
      </div>
    </div>
  </div>